<p>
  So, this is CUSTOMER Promotions
</p>
<div>
  <ul>
    <li>
      we want to show a map with all the merchants with representing pens. So customer casn select pen on the map.
    </li>
    <li>
      Show cards for each merchant under the map. So customer casn select card.
    </li>
    <li>
      Once customer makes a selection from cards or map. we display details for that merchants promotions.
    </li>
    <li>
      MERCHANT promotions are read from promotion file, at least one record must show the benefits for follwoing the merchant. A generic record must be put there or displayed by the system.
    </li>
    <li>
      CUSTOMER may select to follow a specific mecrchant. Once the customer follows the merchant then a CRM rcord must be created.
    </li>
    <li>
      we need to filter out only followed merchants for that CUSTOMER on the same display. the map and the card. so like a filter of followed and unfollwed display.
    </li>
    <li>
      Start using the promotion scanner service for zario and level point gains when the customer initially follows a merchant. We need a dictionary of promotions settings. that makes sense using all the flags on teh promotion record.
    </li>
    <li>
      CUSTOMERS can also comment on merchant promotions
    </li>
  </ul>
</div>
