<p>
  wallet: 
  1- Allow the customer/ merchant to buy zarios 
  2- Display the zarios that he has in his account 
  3- Allow the customer / merchant to see his transactions in accumulating and disposing of zario coins Buy, Redeem, Sell, Win, Game Hunt, from any type of promotion, buy back.
  4- Display the today price of zario in the local currency depending on region
  5- Display the price of bitCoin, Etherium and other famous crypto currencies
  6- is the customer / merchant eligible for buy back 
  7- is he allowed to transfere the zarios to other wallets
  8- will there be an etherium transaction attached to zario coin transactions
  9- will the market determine the price of zarios
  0- make it look like the regular wallets used for crypto
  1- the account number must be ligit 
  2- the etherium counter must be established 
  3- at least the etherium counters must be established but may be not exercised per transaction and the transaction done in bulk
  NOTE:
  THIS AREA MAY REQUIRE A COURSERA COURSE BEFORE DOING IT: https://www.coursera.org/learn/blockchain-basics
  https://www.coursera.org/specializations/blockchain Blockchain specialization 
  works!
</p>
