
<!-- ARE U READY SECTION-->
<section id="home-heading">
    <!-- <img class="readyImage" src="../../../assets/img/printemps2.jpg"> -->
</section> 

<!-- Footer Section-->
<section id="main-footer" class="text-center pt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="../../../assets/img/saLogo-NoText.png">
          <p class="d-inline align-middle text-secondary small">Copyright 2018 &copy; Zario.io and The Black Diamond Loyalty Program</p>
          <p class="text-secondary small ml-5">Belongs to Success Architecture, Kuwait and Success Architecture USA</p>
        </div>
      </div>
    </div>
  </section>