
<!-- Slider Show Presentation-->
<section id="presentation">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
      </ol>

      <div class="carousel-inner">
        
          <div class="carousel-item carousel-image-1 active">
              <div class="dark-overlay">
                <div class="container">
                  <div class="carousel-caption d-none d-sm-block text-right mb-5">
                    <h1 class="display-3">Heading One</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
                    <a routerLink="/register" class="btn btn-success btn-lg">Quick Register Now</a>
                  </div>
                </div>
              </div>
          </div>

        <div class="carousel-item carousel-image-2">
            <div class="dark-overlay">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block mb-5">
                  <h1 class="display-3">Heading Two</h1>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
                  <a routerLink="/contactus" class="btn btn-primary btn-lg">Contact Us</a>
                </div>
              </div>
            </div>
        </div>

        <div class="carousel-item carousel-image-3">
            <div class="dark-overlay">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1 class="display-3">Heading Three</h1>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
                  <a routerLink="/login" class="btn btn-danger btn-lg">Sign In</a>
                </div>
              </div>
            </div>
        </div>

        <div class="carousel-item carousel-image-4">
            <div class="dark-overlay">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-3">Heading Four</h1>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
              <!-- <a routerLink="/login" class="btn btn-danger btn-lg">Sign In</a> -->
            </div>
          </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-5">
            <div class="dark-overlay">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-3">Heading Five</h1>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
              <!-- <a routerLink="/login" class="btn btn-danger btn-lg">Sign In</a> -->
            </div>
          </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-6">
            <div class="dark-overlay">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1 class="display-3">Heading Six</h1>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
                  <!-- <a routerLink="/login" class="btn btn-danger btn-lg">Sign In</a> -->
                </div>
              </div>
            </div>
        </div>

        <div class="carousel-item carousel-image-7">
            <div class="dark-overlay">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1 class="display-3">Heading Seven</h1>
                  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis voluptatem commodi at natus suscipit fuga molestias accusantium perferendis quae.</p>
                  <!-- <a routerLink="/login" class="btn btn-danger btn-lg">Sign In</a> -->
                </div>
              </div>
            </div>
        </div>
    </div>
      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
          <span class="carousel-control-prev-icon"></span>
      </a>
      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
          <span class="carousel-control-next-icon"></span>
      </a>

  </div>
</section>

<!-- Three Boxes-->
<section id="boxes" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center bg-light border-warning mb-2">
          <div class="card-body">
            <h3 class="card-body text-secondary">For Our Members</h3>
            <p>Join us today, and benefit from thousands of offers, and discounts. Your purchases are your investment</p>
            <a routerLink="/register" class="box-link"> 
              <i class="fas fa-angle-double-right"></i>Quick Register
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center bg-light border-warning mb-2">
            <div class="card-body">
              <h3 class="card-body text-secondary">For Merchants</h3>
              <p>Join us today and start building a lifetime relation with your customers built on mutual trust, and value</p>
              <a routerLink="/contactus" class="box-link"> 
                <i class="fas fa-angle-double-right"></i>Contact Us
              </a>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center bg-light border-warning mb-2">
            <div class="card-body">
              <h3 class="card-body text-secondary">What's Your Treasure</h3>
              <p>Start your treasure hunting today! Discover our location maps and reveal hiddeen discounts and bonus points</p>
              <a routerLink="/locations" class="box-link"> 
                <i class="fas fa-angle-double-right"></i>Discover Maps
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ARE U READY SECTION-->
<section id="home-heading">

</section>

