.carousel-item {
   height:525px;
}

.dark-overlay {
   background-color:rgba(0,0,0,0.5);
   min-height:525px;
 }

.carousel-image-1 {
background:url('../../../assets/img/golden-3346993b.jpg');
background-size: cover;
}

.carousel-image-2 {
background:url('../../../assets/img/family-2923690_1280.jpg');
background-size: cover;
}

.carousel-image-3 {
background:url('../../../assets/img/smile-2928326.jpg');
background-size: cover;
}

.carousel-image-4 {
   background:url('../../../assets/img/mountain-2574006.jpg');
   background-size: cover;
}

.carousel-image-5 {
   background:url('../../../assets/img/selfDriveCar.jpg');
   background-size: cover;
}

.carousel-image-6 {
   background:url('../../../assets/img/shopping-3320327.jpg');
   background-size: cover;
}

.carousel-image-7 {
  background:url('../../../assets/img/shop-906722.jpg');
  background-size: cover;
}

.box-link {
  color:rgb(209, 189, 7);
}
