<div class="row m-5">
    <div class="col-md-8 mx-auto">
        <section id="tabs">
            <div class="container">
                <h6 class="section-title h2">Merchant Profile Data</h6>
                <div class="py-1 px-1 px-sm-0">
                    PROFILE: The profile page is the main merchant record for a single retail business unit location. You can have only one business unit without having a group. In order to have several business units; first create a group, hence you can create more than one profile as they will all be under one single group.
                    <div class="card card-form border-warning p-0 ml-0 mr-0 mt-5 col-md-9 mx-auto">
                        <div class="card-header">
                            <h4 class="text-center">Add or Maintain Profile Main Data</h4>
                        </div>
                        <div class="card-body">
                            <div class="row show-hide-message">
                                <div [ngClass]="messageClass" class="col-sm-9 border-warning h-50 mx-auto text-center">
                                    <strong>{{message}}</strong>
                                </div>
                            </div>
                            <div class="m-5 p-4 slectionBox" *ngIf="profileBox">
                                <form [formGroup]="fpSelect">
                                    <h4>Select an existing Merchant Profile</h4>
                                    <select id="merchant" class="form-control bg-primary text-white" formControlName="merchant" (change)="changeMerchant()">
                                        <option *ngFor="let merchant of merchants" [value]="merchant.name">{{merchant.name}}</option>
                                    </select>
                                    <h4 class="mt-3">OR</h4>
                                    <button class="btn btn-success btn-block" (click)="addMerchant()">Add A New Profile </button>
                                </form>
                            </div>
                            <hr>
                            <h5>Avatar Section</h5>
                            <hr>
                            <div class="p-5">
                                <div class="row imageContainer mx-auto">
                                    <img class="mb-3 border-warning img-fluid mx-auto imagePreview" [src]="avatarPath" alt="default Avatar">
                                </div>
                                <div class="row">
                                    <label class="center-block text-light bg-danger mx-auto">
                                            <strong>{{selectedImageFileName}}</strong>
                                    </label>
                                </div>
                                <input type="file" name="imageFile" style="display:none" (change)="imageFileSelected($event)" #imageFile>
                                <button class="btn btn-primary btn-block mt-3" (click)="imageFile.click()">Select Image Avatar</button>
                            </div>
                            <form [formGroup]="fp" (submit)="onfpSubmit()">
                                <hr class="mt-3">
                                <h5>Details Section</h5>
                                <hr>
                                <div class="form-group">
                                    <label for="name">Profile Name</label>
                                    <div [ngClass]="{'has-error':(fp.controls.name.errors && fp.controls.name.dirty), 'has-success': !fp.controls.name.errors}">
                                        <input type="text" name="name" class="form-control"
                                        formControlName="name">
                                        <div class="help-block text-light small bg-danger pl-2" *ngIf="fp.controls.name.errors && fp.controls.name.dirty">
                                            <div *ngIf="fp.controls.name.errors?.required">
                                                Merchant Profile Name field is required
                                            </div>
                                            <div *ngIf="fp.controls.name.errors?.minlength || fp.controls.name.errors?.maxlength">
                                                Merchant Profile Name minimum characters: 12, Maximum characters: 50
                                            </div>
                                            <div *ngIf="fp.controls.name.errors?.validateName">
                                                Valid Merchant Profile Name must not have special characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label for="description">Profile Description</label>
                                  <div [ngClass]="{'has-error':(fp.controls.description.errors && fp.controls.description.dirty), 'has-success': !fp.controls.description.errors}">
                                      <textarea name="description" class="form-control" rows="3" formControlName="description"></textarea>
                                      <div class="help-block text-light small bg-danger pl-2" *ngIf="fp.controls.description.errors && fp.controls.description.dirty">
                                          <div *ngIf="fp.controls.description.errors?.required">
                                              Merchant Profile Description field is required
                                          </div>
                                          <div *ngIf="fp.controls.description.errors?.minlength">
                                              Merchant Profile Description should be a minimum of 50  characters
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label for="category">Business Category</label>
                                    <select id="category" class="form-control" formControlName="category">
                                    <option *ngFor="let category of categories" [value]="category.categoryName">{{category.categoryName}}</option>
                                    </select>
                                </div>
                                <div class="form-group checkbox">
                                    <h5>Referral: </h5>
                                    <input class="my_checkbox align-middle" type="checkbox" formControlName="referral">
                                    <label class="center-block text-light bg-danger">
                                        <strong>You CAN REFER MY CUSTOMERS TO SIMILAR BUSINESSES</strong>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <div [ngClass]="{'has-error':(fp.controls.email.errors && fp.controls.email.dirty), 'has-success': !fp.controls.email.errors}">
                                        <input type="email" name="email" class="form-control" placeholder="name@domain.com"
                                        formControlName="email">
                                        <div class="help-block text-light small bg-danger pl-2" *ngIf="(fp.controls.email.errors && fp.controls.email.dirty)">
                                            <div *ngIf="fp.controls.email.errors?.required">
                                                Email field is required
                                            </div>
                                            <div *ngIf="fp.controls.email.errors?.minlength || fp.controls.email.errors?.maxlength">
                                                Email minimum characters: 5, Maximum characters: 30
                                            </div>
                                            <div *ngIf="fp.controls.email.errors?.validateEmail">
                                                Email must be in a valid format
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="extradata p-3 bg-light mt-4">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="countrycode">Country Code</label>
                                                <select id="countrycode" class="form-control" formControlName="countrycode">
                                                <option *ngFor="let code of codes" [value]="code.countryCode">{{code.countryCode}}</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="city">City</label>
                                                <div [ngClass]="{'has-error':(fp.controls.city.errors && fp.controls.city.dirty), 'has-success': !fp.controls.city.errors}">
                                                    <input type="text" name="city" class="form-control" formControlName="city">
                                                    <div class="help-block text-light small bg-danger pl-2" *ngIf="fp.controls.city.errors && fp.controls.city.dirty">
                                                        <div *ngIf="fp.controls.city.errors?.required">
                                                            City field is required
                                                        </div>
                                                        <div *ngIf="fp.controls.city.errors?.minlength || fp.controls.city.errors?.maxlength">
                                                            City minimum characters: 5, Maximum characters: 20
                                                        </div>
                                                        <div *ngIf="fp.controls.city.errors?.validateName">
                                                            Valid City must not have special characters
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--/form-group-->
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="mobile">Mobile Number</label>
                                                <div [ngClass]="{'has-error':(fp.controls.mobile.errors && fp.controls.mobile.dirty), 'has-success': !fp.controls.mobile.errors}">
                                                    <input type="mobile" name="mobile" class="form-control"
                                                    formControlName="mobile" placeholder="9xx-xxx-xxxx">
                                                    <div class="help-block text-light small bg-danger pl-2" *ngIf="fp.controls.mobile.errors && fp.controls.mobile.dirty">
                                                        <div *ngIf="fp.controls.mobile.errors?.required">
                                                            Mobile Number field is required
                                                        </div>
                                                        <div *ngIf="fp.controls.mobile.errors?.minlength || fp.controls.mobile.errors?.maxlength">
                                                            Mobile Number characters: 8, Maximum characters: 10
                                                        </div>
                                                        <div *ngIf="fp.controls.mobile.errors?.validateMobile">
                                                            Mobile Number must be in a valid format
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="phone">Phone Number</label>
                                                <div [ngClass]="{'has-error':(fp.controls.phone.errors && fp.controls.phone.dirty), 'has-success': !fp.controls.phone.errors}">
                                                    <input type="phone" name="phone" class="form-control"
                                                    formControlName="phone" placeholder="9xx-xxx-xxxx">
                                                    <div class="help-block text-light small bg-danger pl-2" *ngIf="fp.controls.phone.errors && fp.controls.phone.dirty">
                                                        <div *ngIf="fp.controls.phone.errors?.required">
                                                            Phone Number field is required
                                                        </div>
                                                        <div *ngIf="fp.controls.phone.errors?.minlength || fp.controls.phone.errors?.maxlength">
                                                            Phone Number characters: 8, Maximum characters: 10
                                                        </div>
                                                        <div *ngIf="fp.controls.phone.errors?.validateMobile">
                                                            Phone Number must be in a valid format
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--/form-group-->
                                </div>
                                <hr class="mt-5">
                                <h5>Strategy Section</h5>
                                <hr>
                                <div class="form-group">
                                    <label for="strategy">Business Strategy</label>
                                    <select id="strategy" class="form-control" formControlName="strategy">
                                    <option *ngFor="let strata of strategy" [value]="strata.strategyName">{{strata.strategyName}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="bronze">Bronze Band</label>
                                            <div [ngClass]="{'has-error':(fp.controls.bronze.errors && fp.controls.bronze.dirty), 'has-success': !fp.controls.bronze.errors}">
                                                <input type="text" name="bronze" class="form-control"
                                                formControlName="bronze" placeholder="9999">
                                                <div class="help-block text-light small bg-danger pl-2" *ngIf="fp.controls.bronze.errors && fp.controls.bronze.dirty">
                                                    <div *ngIf="fp.controls.bronze.errors?.required">
                                                        Bronze Band field is required
                                                    </div>
                                                    <div *ngIf="fp.controls.bronze.errors?.validateValue">
                                                        Bronze Band must be Numeric
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="silver">Silver Band</label>
                                            <div [ngClass]="{'has-error':(fp.controls.silver.errors && fp.controls.silver.dirty), 'has-success': !fp.controls.silver.errors}">
                                                <input type="text" name="silver" class="form-control"
                                                formControlName="silver" placeholder="9999">
                                                <div class="help-block text-light small bg-danger pl-2" *ngIf="fp.controls.silver.errors && fp.controls.silver.dirty">
                                                    <div *ngIf="fp.controls.silver.errors?.required">
                                                        Silver Band field is required
                                                    </div>
                                                    <div *ngIf="fp.controls.silver.errors?.validateValue">
                                                        Silver Band must be Numeric
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/form-group-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="gold">Gold Band</label>
                                            <div [ngClass]="{'has-error':(fp.controls.gold.errors && fp.controls.gold.dirty), 'has-success': !fp.controls.gold.errors}">
                                                <input type="text" name="gold" class="form-control"
                                                formControlName="gold" placeholder="9999">
                                                <div class="help-block text-light small bg-danger pl-2" *ngIf="fp.controls.gold.errors && fp.controls.gold.dirty">
                                                    <div *ngIf="fp.controls.gold.errors?.required">
                                                        Gold Band field is required
                                                    </div>
                                                    <div *ngIf="fp.controls.gold.errors?.validateValue">
                                                        Gold Band must be Numeric
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="platinum">Platinum Band</label>
                                            <div [ngClass]="{'has-error':(fp.controls.platinum.errors && fp.controls.platinum.dirty), 'has-success': !fp.controls.platinum.errors}">
                                                <input type="text" name="platinum" class="form-control"
                                                formControlName="platinum" placeholder="9999">
                                                <div class="help-block text-light small bg-danger pl-2" *ngIf="fp.controls.platinum.errors && fp.controls.platinum.dirty">
                                                    <div *ngIf="fp.controls.platinum.errors?.required">
                                                            Platinum Band field is required
                                                    </div>
                                                    <div *ngIf="fp.controls.platinum.errors?.validateValue">
                                                            platinum Band must be Numeric
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/form-group-->
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="pearl">Pearl Band</label>
                                            <div [ngClass]="{'has-error':(fp.controls.pearl.errors && fp.controls.pearl.dirty), 'has-success': !fp.controls.pearl.errors}">
                                                <input type="text" name="pearl" class="form-control"
                                                formControlName="pearl" placeholder="9999">
                                                <div class="help-block text-light small bg-danger pl-2" *ngIf="fp.controls.pearl.errors && fp.controls.pearl.dirty">
                                                    <div *ngIf="fp.controls.pearl.errors?.required">
                                                        Pearl Band field is required
                                                    </div>
                                                    <div *ngIf="fp.controls.pearl.errors?.validateValue">
                                                        pearl Band must be Numeric
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="blackdiamond">blackdiamond Band</label>
                                            <div [ngClass]="{'has-error':(fp.controls.blackdiamond.errors && fp.controls.blackdiamond.dirty) || (fp.errors?.bandSync && fp.controls.blackdiamond.dirty), 'has-success': !fp.controls.blackdiamond.errors || fp.errors?.bandSync}">
                                                <input type="text" name="blackdiamond" class="form-control"
                                                formControlName="blackdiamond" placeholder="9999">
                                                <div class="help-block text-light small bg-danger pl-2" *ngIf="(fp.controls.blackdiamond.errors && fp.controls.blackdiamond.dirty) || (fp.errors?.bandSync && fp.controls.blackdiamond.dirty)">
                                                    <div *ngIf="fp.controls.blackdiamond.errors?.required">
                                                        Blackdiamond Band field is required
                                                    </div>
                                                    <div *ngIf="fp.controls.blackdiamond.errors?.validateValue">
                                                        Blackdiamond Band must be Numeric
                                                    </div>
                                                    <div *ngIf="fp.errors?.bandSync">
                                                        Bands must progressively increase in value
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/form-group-->
                                <hr class="mt-5">
                                <h5>Location Section</h5>
                                <hr>
                                <div class="container agm">
                                    <agm-map
                                            [latitude]="position.lat"
                                            [longitude]="position.lng"
                                            [zoom]="15"
                                            (mapClick)="mapClicked($event)"
                                        >
                                        <agm-marker [latitude]="position.lat" [longitude]="position.lng">
                                          <agm-info-window>
                                            <h3><strong>Your current location</strong></h3>
                                            <p>You are here!</p>
                                          </agm-info-window>
                                        </agm-marker>
                                        <agm-marker *ngIf="clickedPosition.lat && clickedPosition.lng"
                                            [latitude]="clickedPosition.lat" [longitude]="clickedPosition.lng">
                                            <agm-info-window>
                                              <h3><strong>Your Selected location</strong></h3>
                                              <p>You want to be here!</p>
                                            </agm-info-window>
                                          </agm-marker>
                                      </agm-map>
                                </div>
                                <div class="form-group">
                                    <div class="row mt-3">
                                        <div class="col-sm-6">
                                            <label for="longitude">Merchant Location Longitude</label>
                                            <input type="longitude" name="longitude" class="form-control" readonly
                                                formControlName="longitude">
                                            <button type="button" class=" mt-3" (click)="setLocation2Current()">Set to your current location</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="latitude">Mewrchant Location Latitude</label>
                                            <input type="latitude" name="latitude" class="form-control" readonly
                                                formControlName="latitude">
                                        </div>
                                    </div>
                                </div><!--/form-group-->
                                <hr>
                                <button [disabled]="!fp.valid || notUpdated" type="submit" class="btn btn-primary btn-block mt-5">Submit Main Profile Data</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, iste sed at ab officiis quisquam ullam! Sequi quas distinctio animi odit? Fuga nulla illo hic, temporibus repudiandae nam deleniti ut repellat tempora autem ea harum cupiditate similique totam, sapiente voluptates nostrum aliquid ipsam nobis dignissimos suscipit explicabo. Quo vero esse facere, iusto autem totam tempora atque qui, quia nulla iure, maiores deleniti consequuntur ipsa dolore animi sequi perspiciatis vel repellendus illum ducimus voluptates! Labore neque quibusdam eius fugiat quisquam earum officiis doloremque necessitatibus! Deleniti eaque facere veritatis.    -->
