<p>
  This is the Administrator Dashboard which will display 
  = all users
  = there number
  = the users in thye MADD table that are not active and the ability to send emails to them for reminding them to come to there senses and reate their user account in this GREAT APP
  = Various Statistics from the system like zarios, bands, a special look at any user or merchant profile etc.........

  = THERE WILL ALSO BE A DASHBOARD FOR CUSTOMERS AND FOR MERCHANTS ALONG THESE LINES DEVELOPED FOR THGE Administrator
  
</p>
