<h1>Administrator Dashboard</h1>
<ul>
  <li><h3>all users</h3></li>
  <li><h3>there number</h3></li>
  <li><h3>the users in the MADD table that are not active and the ability to send emails</h3>
    <h4>to them for reminding them to come to there senses and create their user account in this GREAT APP</h4>
  </li>
  <li><h3>Various Statistics from the system like zarios, bands, a special look at any user or merchant profile etc.........</h3></li>
  <li><h3>THERE WILL ALSO BE A DASHBOARD FOR CUSTOMERS AND FOR MERCHANTS ALONG THESE LINES DEVELOPED FOR THE Administrator. This is where the admin staff can view the othere dashboards as if he were the customer or the merfchant.</h3></li>
  <li><h3></h3></li>
</ul>
