
<div class="row mt-5">
   <div class="col-md-4 mx-auto">
     <div class="card card-form border-warning mb-5">
       <div class="card-header">
           <h3 class="text-center">Enter Your Email Please</h3>
       </div>
       <div class="card-body">
         <form [formGroup]="form" (submit)="passwordForgetSubmit()">
           <div class="form-group">
             <label for="email">Email</label>
             <div [ngClass]="{'has-error':(form.controls.email.errors && form.controls.email.dirty), 'has-success': !form.controls.email.errors}">
               <input type="email" name="email" class="form-control"
               formControlName="email">
               <div class="help-block text-danger small" *ngIf="form.controls.email.errors && form.controls.email.dirty">
                   <div *ngIf="form.controls.email.errors?.required">
                     Email field is required
                   </div>
                   <div *ngIf="form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength">
                       Email minimum characters: 5, Maximum characters: 30
                   </div>
                   <div *ngIf="form.controls.email.errors?.validateEmail">
                       Email must be in a valid format
                   </div>
               </div>
             </div>
           </div>
           <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-block">Submit Email</button>
         </form>
       </div>
     </div>
   </div>
 </div>