<p>
  - In the cart the merchant will be recording customer sales or purchases made at there shops.
  - The cart is used for repeted customers OR customers with a valid account
  - while for first time customers the merchant must add the customer to the MADD table along with the first time sales made
  - The two programs will do the same when dealing with the purchase made by the customer except the MADD addition is for first time customers
  - A service must be written to examine the variuous merchant and applicatrion promotions and check which ones apply to the purchase made 
  - the service will then determine how much discount the custoemrs deserves and how many zarios he gains from the purchase 
  - the promotions applied will be listed to the merchant for double checking as well as indicated to the customer in the recorded transaction as applied promotions 
  - the cart must also be able to read the customer QR Code from his mobile by taking a picture and using the camera 
  - 
</p>
